* {
  box-sizing: border-box;
}

hr {
  border: 2px solid black;
  width: 100%;
}


body {
  font-family: 'Merriweather', serif;

}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

legend {
  margin: 0px 2px;
  padding: 20px 2px;
  font-size: 1.3em;
  font-weight: bold;

}

label {
  padding: 10px 0;
  margin: 10px 0;
}

header {
  background-color: #2D3945;
  justify-content: center;
  align-items: center;
}
header > h1 {
  color: #FFFFFF;
  margin: 20px auto;
  font-size: 1.3em;
}

.wrapper {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

header,
.intro
 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: solid 8px #2D3945;

}
 h2 {
   margin: 50px 0 0 0;
   font-size: 1.3em;
   font-weight: bold;


 }

 .statement {
   margin-bottom: 50px;
   text-align: center;
   font-size: .8em;
 }

 .statement,
 label,
 .main-footer {
   color: #C3C4C4;
 }


.form {

  margin-top: 5px;
  border-top: solid 4px #2D3945;
}

.items {
  background-color: #50BBB5;
  padding: 5px 2px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type=number],
select
 {
  outline: 0;
  width: 100%;
  border-radius: 8px;
  height: 50px;
  margin: 10px 0;
  background-color: #EFF0F1;
}

input[placeholder] {
  text-align: right;
  padding: 5px 20px;

}

input[type=number] {
  width: 50%;
  margin-bottom: 30px;

}


input[type="checkbox"],
input[type="radio"],
#topics {
  margin: 20px 10px 10px 0;
  padding-right: 10px;

}

.checkbox_format,
.radio_format  {
  padding-left: 2px;
}


#html_news,
#html {
  margin-top: 20px;
}

#javascript_news,
#plain_text {
  margin-bottom: 20px;
}

button {
  margin: 20px 0;
  text-align: center;
  width: 100%;
  height: 55px;
  background-color: #50BBB5;
  color: #fff;
  border-radius: 8px;
}

textarea {
  outline: 0;
  width: 100%;
  height: 100px;
  border-radius: 8px;
  background-color: #EFF0F1;
}

.main-footer {
  text-align: center;
  height: 300px;
}

.radio_format {
  margin-bottom: 10px;

}

input:focus,
select:focus,
textarea:focus {
  border-color: red;
  background-color: #3D3D3D;
  color: white;
}

/* //////////////////MEDIA QUERIES //////////////////////////////// */

@media(min-width:768px) {

.items {
  display: flex;
  width: 100%;
}
.items label {
  flex: 0 200px;
}
.items input,
.items select {
  flex: 1 400px;
}

.z_code {
  display: flex;
}
 #zipcode {
   max-width: 25%;
 }
 .statement {
   font-size: 1em;
 }

}
